
html {
  cursor: none;
}

.cursor {
  width: 30px;
  height: 30px;
  border: 1.5px dashed #10ea55 ;
  border-radius: 50%;
  position: fixed;
  pointer-events: none; 
  transform: translate(-50%, -50%);
  transition: transform 0.1s ease-out;
  z-index: 1000;
}

.button-container button:hover,
.image-overlay:hover {
  cursor: none; 
}

.image-overlay:hover ~ .cursor {
  transform: scale(1.5); 
}
